.container2 {
  opacity: 0; 
  transition: opacity 1s ease-in; 
}

.container2.show {
  opacity: 1; 
}

.container2 {
    border: 1px solid var(--black);
    width: 80%;
    height: 40rem;
    border-radius: 0px 10px 10px 0px;
    margin-top: 31px;
    margin-left: -32px;
  }
  
  .rightP {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 0.5rem;
  }
  
  .p2 {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5rem;
  }
  


.rectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .rect {
    width: 15rem;
    height: 9rem;
    margin: 10px;
    background-color: var(--black);
    opacity: 0;
    transition: opacity 0.9s ease-in-out; /* Adjust transition time as needed */
  }
  .rect:hover{
    transform: scale(1.01);
  }
  .show {
    opacity: 1;
  }  
  
.bottomdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.graphContainer{
    
    width: 40rem; 
    
}
.piechartContainer {
    height: 10rem;
    width: 26rem;
    background-color: red;
  }
  